[Unit]
Description=Yamcs Server

[Service]
Type=simple
ExecStart=/opt/yamcs/bin/yamcs-server.sh
Environment="YAMCS_DAEMON=1"
WorkingDirectory=/opt/yamcs
User=yamcs

[Install]
WantedBy=multi-user.target
